<html>
	<head>
	   <title>Signin</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/login.css">

		<!-- jQuery library -->
		<script src="/static/scripts/jquery.min.js"></script>

		<!-- Popper JS -->
		<script src="/static/scripts/popper.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="/static/scripts/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="wrapper fadeInDown">
			<div id="formContent">
			    <!-- Tabs Titles -->

			    <!-- Icon -->
				<div class="fadeIn first">
			    	<img src="/static/images/user.jpg" id="icon" alt="User Icon" />
			    </div>

			    <!-- Login Form -->
			    <form method="POST" action="/auth/signin">
			     	<input type="text" id="login" class="fadeIn second" name="username" placeholder="username">
			     	<input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
			     	<input type="submit" class="fadeIn fourth" value="Log In">
			    </form>
			    <p style="color: red">{{ info }}</p>
			    <!-- Remind Passowrd -->
			    <div id="formFooter">
			    	<a class="underlineHover" href="/auth/signup">Register</a>
			    </div>
			</div>
		</div>
	</body>
</html>