<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <title>Domains</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/dashboard.css">	
		
		<!-- jQuery library -->
		<script src="/static/scripts/jquery.min.js"></script>

		<!-- Popper JS -->
		<script src="/static/scripts/popper.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="/static/scripts/bootstrap.min.js"></script>

		<script src="/static/scripts/domains.js"></script>
		<style type="text/css">
			.ip {
				font-size: 13px; 
				font-style: italic;
			}
		</style>
	</head>
	<body>
		
		{% include 'project/domains/notepopup.html' %}

		<!-- NAVBAR -->
		{% include 'header.html' %}	
		<!-- -->

		<h2 title="Reset search filters" style="text-align: center" >
			<a style="color: black; font-style: normal;" href="/project/domains?id={{ scan.id }}">{{ scan.name }}</a>
		</h2>
		
		<span class="text-success" style="position: fixed; top: 15%;right: 5%;" id="info"></span>
		
		{% include 'project/domains/search.html' %}

		<!-- Main part-->
		<div class="container">
			<table class="table table-bordered table-hover">
				<tbody>

					{% for domain in scan.domains %}
					<!--<tr id="{{ domain.id }}" onmouseover="markAs2('{{ domain.id }}', 'Default')">-->
					<tr id="{{ domain.id }}">
						{% include 'project/domains/style.html' %}

						<td style="width: 30%">
							<div class="row">
								<div class="col">
									{{ domain.domain }}
								</div>
							</div>
							<div class="row">
								<div class="col ip">
									<a href="/project/hosts?id={{ scan.id }}&search={{ domain.ip }}" style="color: black" target="_blank">
										{{ domain.ip }}
									</a>
								</div>
							</div>
							<div class="row">
								<div class="col">
									{% for port in domain.ports %}
									<span class="badge badge-info">{{ port }}</span>
									{% endfor %}
								</div>
							</div>
						</td>
						<td id="{{ domain.id }}_note" onclick="openDomainUpdateForm('{{ domain.id }}')">{{ domain.note }}</td>
						<td style="width: 10%">
							<div class="dropdown">
								<button type="button" class="btn btn-outline-info btn-sm dropdown-toggle" data-toggle="dropdown">
									Actions
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" onclick="submitSubdomains('{{ scan.id }}', '{{ domain.domain }}')">
										Find subdomains
									</a>
									<a class="dropdown-item" onclick="runMasscan('{{ scan.id }}', '{{ domain.ip }}')">
										Run masscan
									</a>
									<a class="dropdown-item" onclick="runNmap('{{ scan.id }}', '{{ domain.ip }}')">
										Run nmap
									</a>
									<div class="dropdown-divider"></div> 
									<a class="dropdown-item" onclick="markAs('{{ domain.id }}', 'Checked')">
										Mark as <i>checked</i>	
									</a>
									<a class="dropdown-item" onclick="markAs('{{ domain.id }}', 'Hacked')">
										Mark as <i>hacked</i>	
									</a>
									<a class="dropdown-item" onclick="markAs('{{ domain.id }}', 'Suspicious')">
										Mark as <i>suspicious</i>	
									</a>
									<a class="dropdown-item" onclick="markAs('{{ domain.id }}', 'Default')">
										Mark as <i>default</i>	
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item text-danger" onclick="deleteDomain('{{ domain.id }}')">
										Delete
									</a>
								</div>	
							</div>	
						</td>
						
					</tr>
					{% endfor %}


				</tbody>
			</table>
		</div>
		<!-- -->
		

		{% include 'project/domains/pagination.html' %}
	</body>
</html>	