<div class="form-popup" id="domainUpdateForm">
	<form class="form-container" >
	   	<div class="form-group">
	   		<input type="hidden" name="note" id="domainUpdateID" value="">
	   		<label for="domaintUpdateNote"><i>Domain Note:</i></label>
	   		<textarea class="form-control" rows="5" id="domainUpdateNote" name="note"></textarea>
	   	</div>
	   	<button type="button" class="btn btn-info" onclick="updateDomainNote()">Submit</button>
	   	<button type="button" class="btn cancel" onclick="closeDomainUpdateForm()">Close</button>
	</form>	
</div>