<div class="container">
	<table class="table table-borderless">
		<tbody>
			<tr>
				<td>
					<div class="form-inline">
						<label class="mr-sm-2" for="sel1">Limit:</label>
						<select class="custom-select form-control mb-2 mr-sm-2" id="sel1" onchange="window.location.href = '/project/domains?id={{ scan.id }}&limit=' + this.value + '&page=1&type={{ type }}&order={{ order }}&search={{ search }}'">
							<option {% if limit == 10 %}selected{% endif %}>10</option>
							<option {% if limit == 20 %}selected{% endif %}>20</option>
							<option {% if limit == 30 %}selected{% endif %}>30</option>
							<option {% if limit == 50 %}selected{% endif %}>50</option>
							<option {% if limit == 100 %}selected{% endif %}>100</option>
						</select>
					</div>
				</td>
				<td>
					<div class="form-inline">
						<label class="mr-sm-2" for="sel2">Type:</label>
						<select class="custom-select form-control mb-2 mr-sm-2" id="sel2" onchange="window.location.href = '/project/domains?id={{ scan.id }}&limit={{ limit }}&page=1&type=' + this.value + '&order={{ order }}&search={{ search }}'">
							<option>All</option>
							<option {% if type == "Checked" %}selected{% endif %}>Checked</option>
							<option {% if type == "Hacked" %}selected{% endif %}>Hacked</option>
							<option {% if type == "Suspicious" %}selected{% endif %}>Suspicious</option>
							<option {% if type == "Default" %}selected{% endif %}>Default</option>
							<option {% if type == "New" %}selected{% endif %}>New</option>
							
						</select>
					</div>
				</td>
				<td>
					<div class="form-inline">
						<label class="mr-sm-2" for="sel2">Order:</label>
						<select class="custom-select form-control mb-2 mr-sm-2" id="sel2" onchange="window.location.href = '/project/domains?id={{ scan.id }}&limit={{ limit }}&page=1&type={{ type }}&order=' + this.value + '&search={{ search }}'">
							<option {% if order == "IP" %}selected{% endif %}>IP</option>
							<option {% if order == "Domain" %}selected{% endif %}>Domain</option>
						</select>
					</div>
				</td>
				<td >
					<form class="form-inline" action="/project/domains">
				  		<label for="search" class="mr-sm-2"></label>
				  		<input type="hidden" name="id" value="{{ scan.id }}"> 
				  		<input type="text" id="search" class="form-control mb-2 mr-sm-2" name="search" placeholder="Search by domain/ip/note">
			  		</form>
				</td>
			</tr>
		</tbody>
	</table>
</div>