{% if  host.style == "Checked" %}
	<h3 id="{{ host.id }}_hostStyle" >{{ host.ip }}	
		<span class="badge badge-pill badge-secondary">Checked</span>
	</h3>
{% endif %}

{% if host.style == 'Hacked' %}
	<h3 id="{{ host.id }}_hostStyle" >{{ host.ip }}	
		<span class="badge badge-pill badge-danger">Hacked</span> 
	</h3>
{% endif %}

{% if host.style == 'Suspicious' %}
	<h3 id="{{ host.id }}_hostStyle" >{{ host.ip }}	
		<span class="badge badge-pill badge-warning">Suspicious</span> 
	</h3>
{% endif %}

{% if host.style == 'New' %}
	<h3 id="{{ host.id }}_hostStyle" >{{ host.ip }}	
		<span class="badge badge-pill badge-success">New</span> 
	</h3>
{% endif %}

{% if host.style == 'Default' %}
	<h3 id="{{ host.id }}_hostStyle" >{{ host.ip }}</h3>
{% endif %}

{% for hostname in host.hostnames %}
<i><h6>{{ hostname.hostname }}</h6></i>
{% endfor %}